@{
    ViewData["Title"] = "Login Page";
    ViewData["SubTitle"] = "Home Pagesdss boom";
}
@{Layout = "~/Views/Shared/_MainLayout.cshtml";}
<div>
f
gfd
g
fdg
fd
g
fd
g
fdg
dg
d
fg
dfg
<div style="background-color: blue"> 
    Moons
</div>
</div>