@{
    ViewData["Title"] = "Login Page";
    ViewData["SubTitle"] = "Home Pagesdss boom";
}
@{Layout = "~/Views/Shared/_MainLayout.cshtml";}
<div>
@Html.ActionLink("<< Back", "Index", "App",
      null,
      new Dictionary<string, object> { { "data-transition", "slide" }, { "class", "moo" }, { "data-direction" ,"reverse"} });
<div style="background-color: blue"> 
    Moons
</div>
</div>