<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Dev" />
    <add key="CascadeHrEndPointRoot" value="agibson-pc81/Cascade"/>
    <add key="ErrorLogFilePath" value="C:\git\mobile.log"/>
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
