
.title {
    color: white;
        text-align: left;
}
.subtitle{
    color: black;
}
/* Set the navigation background colour */
.navbar-inverse{
    background-color: #c61d21;
}
/* Set the navigation link color */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
/* Fix the header bar */
#headnav {
    max-height:75px !important;
}
.header{
    max-height:5px;
}
.navbar-text {
    color: white;
}

.navbar-toggle {
  border: none;
  outline: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

.nav > li > a {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-filter: brightness(150%);
}

/* Lighten the owl - correct to an ID */
img{
    -webkit-filter: brightness(120%);
}