@{
    ViewData["Title"] = "Payslips";
    ViewData["SubTitle"] = "Welcome to Cascade Mobile";
}
@{Layout = "~/Views/Shared/_MainLayout.cshtml";}
@section Scripts {

}
<div class="container">
    <div>
        <h3>@ViewBag.Title</h3>
        <h5>@ViewBag.SubTitle</h5>
    </div>
    <div class="navbar-toggle" data-toggle="collapse">
        <img scr="@ViewBag.Logo" />
    </div>
</div>